.form-control-file {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

